<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tombola jujuy</title>
	<style type=text/css>
    .odd {
      background-color : black;
      color : white;
      text-align : center;
      height : 30px;
      padding-top : 5px;
    }
    .even {
      background-color : gray;
      color : white;
      text-align : center;
      height : 30px;
      padding-top : 5px;
    }
  	</style>
	<link rel="stylesheet" href="css/jquery.mobile-1.3.2.css">
	<link rel="stylesheet" href="css/tombola.css">

	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery.mobile-1.3.2.min.js"></script>

    <script src="underscore-1.5.2.js"></script>
    <script src="backbonejs-dev-1.1.0.js"></script>

</head>
<body>
<!-- page -->
<div data-role="page" data-theme="b" id="page">

	<!-- cabecera -->
	<div data-role="header" data-theme="b" >
		<h3> Tombola Jujeña</h3>			
	</div>
	<!-- content -->
	<div data-role="content" id="contenido">
		<form id="personaForm">
		<table>
			<tbody>
				<tr>
					<td>
						<label>Nombre: </label>
					</td>
					<td>
						<input type="text" id="inNombre" name="nombre"></input>
					</td>
				</tr>
				<tr>
					<td>
						<label>Apellido: </label>
					</td>
					<td>
						<input type="text" id="inApellido" name="apellido"></input>
					</td>
				</tr>
				<tr>
					<td>
						<label>Barrio: </label>
					</td>
					<td>
						<input type="text" id="inBarrio" name="barrio"></input>
					</td>
				</tr>
				<tr>
					<td>
						<label>Ciudad: </label>
					</td>
					<td>
						<input type="text" id="inCiudad" name="ciudad"></input>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="button" value="Agregar" id="btnAgregar"/>
						<!-- <button id="btnAgregar">Agregar</button> -->
					</td>
				</tr>
			</tbody>
		</table>
		</form>

        <table>
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Barrio
                    </th>
                    <th>
                        Ciudad
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody id="tbodyResultados">
                <!--<script type="text/template">
                	<% _.each(personas, funciton(persona){%>
                		<tr>
                			<td>
                				oleee
                			</td>
                		</tr>
                	<%});%>
                </script>-->
            </tbody>
        </table>
	</div>

<script type="text/template" id="templatePrueba">
                	<input type="text" value="<%= persona ? persona.nombre : ''%>"/>
                </script>

	<div data-role="collapsible-set" data-content-theme="b" id="acordion">
	</div>
	<!-- footer -->
</div>

<script src="js/persistencejs/persistence.js"></script>
<script src="js/persistencejs/persistence.store.sql.js"></script>
<script src="js/persistencejs/persistence.store.websql.js"></script>

<script src="js/utils/utils.js"></script>
<script src="js/connection/connection.js"></script>
<script src="js/model/dao/sorteoDAO.js"></script>
<script src="js/controller/paginaCabalasController.js"></script>
<script src="js/model/vo/sorteoVO.js"></script>
<script src="js/model/vo/vos.js"></script>
<script src="js/controller/paginaController.js"></script>
<script src="js/businesslogic/tombolaService.js"></script>

<script type="text/javascript">
/*var template = _.template($('#listaPersonasTemplate').html(), {personas: personas.models});
$element.append(template);*/
	persistence.store.websql.config(persistence, 'backbonePruebas', 'bd de prueba para backbone con persistence', 200000);
	//var db = window.openDatabase("backbonePruebas", "1.0", "backbonePruebas", 200000);

	/*JazzRecord.adapter = new JazzRecord.HTML5Adapter("backbonePruebas");
	JazzRecord.migrate({refresh: false});*/
	function initializeDB(){
		persistence.schemaSync(function(){
		 	//nothing
		 });
	}

	(function($){
		$.fn.serializeObject = function() {
			var o = {};
			var a = this.serializeArray();
			$.each(a, function() {
				if (o[this.name]) {
					if (!o[this.name].push) {
						o[this.name] = [o[this.name]];
					}
					o[this.name].push(this.value || '');
				} else {
					o[this.name] = this.value || '';
				}
			});
			return o;
		};

		//connection_createTables();
/*		var Task = persistence.define('Task', {
  name: "TEXT",
  done: "BOOL"
});
		Task.prototype.sayHello = function(){alert('hello! '+this.name)};
		Task.prototype.responder = function(){alert('muy bien, vos '+this.name+'?')};
		//wipe local database clean
persistence.reset(function(){

 //write schema
 persistence.schemaSync(function(){

  //create ten dummy tasks
  for(var i=1;i<=10;i++){
   var task = new Task();
   task.name = "Task " + i;
   task.done = false;
   persistence.add(task);
  }
 //ejemplo http://jacobmumm.com/demos/persistencetask/index.html
  //commit dummy tasks to database
  persistence.flush(function(){
			Task.all().list(function(tasks){
    tasks.forEach(function(task){
    	task.sayHello();
    	task.responder();
      }
      )});
   //alert('inicializada bd')
  });
 });
});*/



		var trNoResult = '<tr id="trNoResult" class="even"><td colspan="4" align="center">Sin resultados</td></tr>'
		var ListView = Backbone.View.extend({
			el: $('#contenido'), // attaches `this.el` to an existing element.

	    	initialize: function(){
	      		_.bindAll(this, 'render'); // fixes loss of context for 'this' within methods
				this.render(); // not all views are self-rendering. This one is.
				initializeDB();
				cargarPersonas();
	    	},

	    	render: function(){
	      		$('#tbodyResultados').append(trNoResult);
	    	},
	    	events: {
        		'click #btnAgregar': 'agregar',
        		'click #btnEditar': 'editar',
        		'click #btnEliminar': 'eliminar'
    		},
			agregar: function(){
				var serializado = $('#personaForm').serializeObject();
          		//var personaVo = new PersonaVO(0, serializado.nombre, serializado.apellido, serializado.barrio, serializado.ciudad);
          		var personaVo = new PersonaVO();
          		personaVo.nombre = serializado.nombre;
          		personaVo.apellido = serializado.apellido;
          		personaVo.barrio = serializado.barrio;
          		personaVo.ciudad = serializado.ciudad;
          		persistence.add(personaVo);
          		persistence.flush();
          		
          		pintarPersona(personaVo);
			},
			editar: function(e){
				console.log(e.currentTarget.attributes[3]);
				var persona = new PersonaVO(0, 'david', 'rearte', 'arias', 'juy');
				var template = _.template($('#templatePrueba').html(), {persona: persona});
				$('#tbodyResultados').append(template);
			},
			eliminar: function(e){
				var id = e.currentTarget.attributes[3].firstChild.data;
				console.log(id);
				/*var temp = new PersonaVO();
				temp.id = e.currentTarget.attributes[3];
				temp._new =false;
				persistence.remove(temp);
				persistence.flush();
				alert(temp._new);*/

				//Esto no funka nose porque
				PersonaVO.load(id, 
					function(personaVo){
						console.log(personaVo);
						persistence.remove(personaVo);
						persistence.flush();
					}
				);

				//Esto si funka pero consulta y despues borra :S
				/*PersonaVO.all().filter("id", '=', id).list(function(personasVos){
					var personaVo = personasVos[0];
    				console.log(personaVo);
					persistence.remove(personaVo);
					persistence.flush();
				});*/
	  	}});

	  	var listView = new ListView();

	})(jQuery);

	function cargarPersonas(){
		PersonaVO.all().list(function(personasVos){
    		personasVos.forEach(function(personaVo){
    			pintarPersona(personaVo);
      		}
      )});
	}

	function pintarPersona(personaVo){
		$('#trNoResult').remove();
    	var trs = $('#tbodyResultados').children();

  		if('even' == $(trs[trs.length-1]).attr('class')){
  			$('#tbodyResultados').append('<tr class="odd"><td align="center">'+personaVo.nombre+'</td><td align="center">'+personaVo.apellido+'</td><td align="center">'+personaVo.barrio+'</td><td align="center">'+personaVo.ciudad+'</td><td align="center"><input type="button" id="btnEditar" value="+" data-id="'+personaVo.id+'"/><input type="button" id="btnEliminar" value="-" data-id="'+personaVo.id+'"/></td></tr>');
  		}else{
  			$('#tbodyResultados').append('<tr class="even"><td align="center">'+personaVo.nombre+'</td><td align="center">'+personaVo.apellido+'</td><td align="center">'+personaVo.barrio+'</td><td align="center">'+personaVo.ciudad+'</td><td align="center"><input type="button" id="btnEditar" value="+" data-id="'+personaVo.id+'"/><input type="button" id="btnEliminar" value="-" data-id="'+personaVo.id+'"/></td></tr>');
  		}

  		$('#acordion').append('<div data-role="collapsible"><h3>'+personaVo.apellidoNombre()+'</h3><ul><li><p>Barrio: '+personaVo.barrio+'</p></li><li><p>Ciudad:'+personaVo.ciudad+'</p></li></div>').collapsibleset('refresh');
  		$('#acordion').collapsibleset('refresh');
	}
</script>
</body>
</html>